<h1>Information</h1>
<br>
<div class="container text-left">
Пользовательская история:
  <br>
Я, как пользователь, хочу удобный онлайн-калькулятор с широким функционалом, чтобы помочь себе в учебе
  <br>
Я, как разработчик, хочу создать продукт на основе изучаемых и изученных технологий, чтобы улучшить свои навыки
  <br>
</div>
<div class="container text-left">
Цель проекта:
  <br>
Создать удобный в использовании и в дополнении микросервис для облачных вычислений. Простота дополнения должна обславливаться несложной логикой программы, в связи с чем будут достигнуты оптимальные для добавления дополнительных математических операций условия. Простота использования должна достигаться простотой дизайна и простотой ввода числовых параметров в математические функции.
  <br>
</div>
<div class="container text-left">
  Участники проекта:
  <br>
  Егоров Дмитрий Романович - фронтенд, веб-дизайн, клиентская логика.
  <br>
  Остранков Константин Дмитриевич - бэкэнд, микросервис, серверная логика.
  <br>
</div>
<div class="container text-left">
Используемые утилиты:
  <br>Фронтэнд - возможно использование фреймворков Angular и подобных для простого создания дизайна. Бэкэнд - Spring, Maven для оптимизации сборки.
  <br>
</div>
<div class="container text-left">
Возможные расширения:
  <br>
  Добавление методических указаний (и, следовательно, создание более сложного сайта с калькулятором как модулем). Добавление сложных и/или нестандартных математических операций (нахождение дискриминанта, суммы последовательности).
</div>
<div class="container text-left">
  <br>
Анализ предметной области:
  <br>
  Наш проект был создан в качестве удобной альтернативы популярному виджету WolframAlpha. Преимущества использования собственного ядра для вычислений очевидны: в него можно легко добавить новые математические операции и функции, всегда можно поменять дизайн. Также, у WolframAlpha довольно-таки неудобный и непонятный для неопытного пользователя синтаксис - в наш же калькулятор (при желании посетителя сайта) нужные формулы и числа можно ввести с помощью простого интерфейса, который берет начало от вида обычного знакомого всем калькулятора. WolframAlpha же не обладает подобным интерфейсом, что, опять же, затрудняет обращение с ним.
  <br>
  Из других сервисов с аналогичными функциями вспоминается Symbolab, но и у него есть свои недостатки. Несмотря на то, что он предоставляет этапы решение для более простого понимания, часть этапов и математических правил, которыми "пользовался" калькулятор при решении примера, заблокированы и для их разблокировки нужно платить. Наш же калькулятор, хоть и не обладающий возможностью показывать промежуточные результаты, будет абсолютно бесплатным в использовании.
  <br>
  Не стоит уж упоминать калькуляторы с многочисленных сайтов, предлагающих решения быстро и бесплатно: зачастую, для вычислений они используют тот же WolframAlpha, просто маскируя его под своим интерфейсом. Они также обладают большим минусом: если не будут отвечать сервера Wolfram, то и эти сайты не смогут выдать результат, в отличие от нашего калькулятора, который ни от чего не зависит, кроме своих же серверов и сервисов.
  <br>
  Итак, преимущества нашего проекта над другими с подобным функционалом таковы: он бесплатен, не требует специфических знаний и работает на своём собственном ядре, легко подвергаемом изменениям и доработкам. Хочется также добавить, что наш сайт будет делаться "студентами для студентов", имея в арсенале самые популярные для расчетов функции и удобный интерфейс с возможностью выбора нескольких цветовых тем для комфортной работы в любое время суток.
</div>
