.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:calc(100% + 2vw);
  cursor: pointer;
  transition-duration: 0.4s;
  min-width: 15%;

}
.button:hover {
  background-color: 	#90EE90;
  color: 	#006400;
}
input {
  font-size: 32px;
  min-width: 45%;
  border-radius: 4px;
}
.container > .div{
  align-self: center;
  max-width: 500px;
  float: left;
  width: 23.5%;
  margin-right: 2%;
}
.container{
  max-width: 100%;
}
