.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 15px;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  width: 30px;
  height: 20px;
}
.button:hover {
  background-color: 	#90EE90;
  color: 	#006400;
}
